 section header {
    display: flex;
    justify-content: right;
    background-color: black;
    height: 7vh;
    width: 100%;
    /* position: fixed; */
  }
  .nav-link-text {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
  }
  header .nav-link-text a {
    color: antiquewhite;
    text-decoration: none;
  }
  header .nav-link-text a:hover {
    background-color: blue;
    border-radius: 10px;
    color: black;
  }
  /* HEADER RESPONSIVENESS */
@media(max-width: 768px) {
  section header{
    justify-content: center;
    height: 60px;
  }

.nav-link-text{
  padding-right: 8px;
  padding-left: 8px;
   }
}
@media(max-width:480px){
  section header{
    height: auto;
    min-height: 60px;
    flex-wrap:wrap;
    padding: 18ppx 0;
    }
    .nav-link-text{
      padding: 5px 8px;
    }
    header .nav-link-text a{
      font-size: 14px;
    }
}
